@model List<MvcKutuphane.Models.Entities.Kategoriler>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
    int count = 0;
}


<h2>Kategoriler</h2>    

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Ketegori Adı</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        count++;

        <tr>
            <td>@count</td>
            <td>@item.KategoriAd</td>
            <td><a href="/Kategori/KategoriSil/@item.KategoriID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Kategori/KategoriGetir/@item.KategoriID" class="btn btn-warning">Güncelle</a></td>
        </tr>
    }
</table>

<a href="/Kategori/KategoriEkle" class="btn btn-primary">Yeni Kategori Ekle</a>