@model MvcKutuphane.Models.Entities.Kategoriler
@{
    ViewBag.Title = "KategoriEkle";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<br />
<br />

<form class="form-group" method="post">
    <div></div>
    <div style="margin-top:15px;">
        <label>Kategori Adı</label>
        <input type="text" class="form-control" name="KategoriAd" />
    </div>
    <div style="margin-top:15px;">
        <button class="btn btn-info"> Kategori Ekle </button>
    </div>
</form>

